 #carousel li {
	width: 400px;
	height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
} 

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carousel ul {
    width: 2000px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    overflow: hidden;
}
body {
  margin: 0;
}
